* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

.wrapper {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
}

.wrapper main {
  height: 600px;
}

h1 {
  text-align: center;
  line-height: 1.1;
  font-weight: 400;
  font-size: 45px;
  font-family: 'Bungee Inline', cursive, sans-serif;
  color: white;
  background: mediumseagreen;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
  max-width: 935px;
}

#display {
  display: inline-block;
  width: 20%;
}

#stripe {
  width: 935px;
  background: #ffeead;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 0 15px;
}

.selected {
  color: white;
  background: dodgerblue;
}

button {
  border: none;
  background: none;
  text-transform:  uppercase;
  height: 100%;
  font-weight: 700;
  color: dodgerblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  /*-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;*/
  outline: none;
}

button:hover {
  color: white;
  background: #ff6f69;
}

.hoverdown {
  position: relative;
  display: inline-block;
}

.hoverdown-content {
  display: none;
  position: absolute;
  background-color: dodgerblue;
  padding-right: 0.75rem;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hoverdown p {
  color: white;
  font-family: 'Mukta Vaani', sans-serif;
  padding: 12px 16px;
  display: block;
}

.hoverdown:hover .hoverdown-content {
    display: block;
}

main {
  padding: 30px 20px 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  background-color: #99ccff;
  width: 935px;
  justify-content: space-between;
}

.grid {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.square {
	width: calc(33.3% - 20px);
	background-image: url("../images/finback-whale.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25%;
  /*margin-bottom: 10px;*/
  display: block;
  position: relative;
	border-radius: 15%;
	transition: background 0.6s;
}

.timescore {
  width: 250px;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  height: 350px;
  flex-wrap: wrap;
}

#timer {
  border-radius: 15px;
  font-family: 'Mukta Vaani', sans-serif;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: 400;
  background-color: mediumseagreen;
  margin-bottom: 20px;
}

.score {
  border-radius: 15px;
  font-family: 'Mukta Vaani', sans-serif;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: 400;
  background-color: mediumseagreen;
  margin-top: 10px;
}
